<div class="container">
  <div class="row">
    <div class="col-sm-9 offset-3">
      <ul class="list-group" *ngFor="let student of students" style="margin: 10px 0px;">
        <li class="list-group-item list-group-item-action">{{student.stuId}}</li>
        <li class="list-group-item list-group-item-action">{{student.stuName}}</li>
        <li class="list-group-item list-group-item-action">{{student.stuEmail}}</li>
        <li class="list-group-item list-group-item-action">{{student.stuRollNo}}</li>
        <li class="list-group-item list-group-item-action">{{student.stuCollege}}</li>
        <li class="list-group-item list-group-item-action">{{student.stuUniversity}}</li>
      </ul>

    </div>
  </div>

</div>
